/*#midiin { height: 11em;}*/
body {
    font-family: 'Avenir', 'Helvetica Neue', sans-serif;
    padding: 0 5%;
}
/*#midiEngineStatus { text-align: center; }*/
table {
    width: 100%;
    text-align: left;
    margin: 1ex auto;
}
table th, td {
    padding: 0.2ex 1em;
}
table th {
    background: black;
    color: white;
    border: 2px solid white;
    border-top-color: black;
    text-align: center;
}
table th:first-child { border-left-color: black; }
table th:last-child { border-right-color: black; }
table tbody tr.disabled { background-color: silver; }
table tbody tr.non_default { background-color: orange; }
table td { border: 2px solid black; }
.param_id { width: 10em; font-weight: bold; }
/*.param_name { width: 30%; }*/
#midiError { color: darkred; }
